@import 'variables';
@import 'normalize';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


* {
  font-family: $mainFont;
}

body {
  background-color: $primary-background;
}

h1 {
  color: #fecc02;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: -5px;
  text-align: center;
  -webkit-text-stroke: 4px #376ABB;
}

form {
  margin: 5px 5px;
}

label, input, button {
  display: block;
  margin: 5px 5px;
}

label {
  height: 40px;
  width: 40%;
  font-size: 25px;
  margin: auto;
  text-align: center;
}

input {
  height: 40px;
  width: 40%;
  font-size: 25px;
  border: 4px solid black;
  margin: auto;
  margin-bottom: 10px;
}

#start-game {
  height: 42px;
  width: 25%;
  font-size: 15px;
  border: 4px solid black;
  margin: auto;
  background-color: darkgray;
  color: white;
}

.player-av {
  width: 6%;
}
