@import 'variables';
@import 'normalize';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


* {
  font-family: $mainFont;
}

body {
  background-color: $primary-background;
}

h1 {
  color: #fecc02;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: -5px;
  text-align: center;
  -webkit-text-stroke: 4px #376ABB;
}

h2 {
  font-size: 1em;
  text-align: center;
}

label, input, button {
  margin: 5px;
  width: 90%;
  display: block;
}

label {
  height: 40px;
  width: 40%;
  font-size: 25px;
  margin: auto;
  text-align: center;
}

input {
  height: 40px;
  width: 40%;
  font-size: 22px;
  border: 4px solid black;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px;
}

#start-game {
  height: 100%;
  width: 250px;
  font-size: 18px;
  border: 2px solid black;
  margin: auto;
  background-color: darkgray;
  color: white;
}

.player-av {
  width: 20%;
}

.wheel-section {
  height: 100px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  margin: 100px;
  #wheel-spin {
    text-align: center;
  }
}

.puzzle-section {
  display: flex;
  flex-wrap: wrap;
}

.poke-wheel {
  margin: 35px auto;
  width: 80%;
  .wheel-section:hover & {
    transform: scale(3) rotate(3600deg);
    transition: transform 2s ease-out;
  }
}

.puzzle-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: white;
  height: 70px;
  width: 60px;
}

.hidden {
  color: white;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 60px;
}

main {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-areas:
  "player puzzle puzzle"
  "player current-player wheel"
  "letters guess buttons";
  padding: 10px;
}

.player-section {
  grid-area: player;
  width: 300px;
  div {
    text-align: center;
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    justify-content: center;
    padding: 10px;
  }
  p {
    width: 100%;
  }
}

.category-section {
  width: 100%;
  grid-area: puzzle;
  font-size: 1.5rem;
  text-align: left;
  padding: 10px;
}

.puzzle-section {
  grid-area: puzzle;
  display: flex;
  align-items: flex-end;
}

.wheel-section {
  grid-area: wheel;
}

.guessed-letter-bank {
  border: 2px black solid;
  grid-area: letters;
  width: 100%;
  .incorrect-letters-container {
    width: 100%;
    .incorrect-letters {
      max-width: 10ch;
    }
  }
}

.message-section {
  grid-area: buttons;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.wrong-letter {
  visibility: hidden;
}

.vowel-error {
  visibility: hidden;
}

.wrong-guess {
  visibility: hidden;
}

.winner-msg {
  visibility: hidden;
}

.buttons-section {
  border: 2px black solid;
  grid-area: buttons;
  width: 100%;
  .player-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.guess-inputs {
  grid-area: guess;
  border: 2px black solid;
}

h2 {
  width: 100%;
}

.current-player {
  display: flex;
  align-items: flex-end;
  width: 100%;
  .player-1-backview,
  .player-2-backview,
  .player-3-backview {
    height: 100px;
    margin: auto;
    width: 100px;
  }
}